*{
    box-sizing: border-box;
}
html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Itim', cursive;
  }
header, main{
    width: 75%;
    max-width: 700px;
    margin: auto;
}
.title{
    text-align: center;
}
.progress{
    font-weight: bold;
    list-style: none;
    text-align: center;
    padding: 0;
}
li{
    display: inline-block;
}
main{
    background-color:  rgb(209, 54, 214, 0.9);
    text-align: center;
    border-radius: 2%;
    position: relative;
}
fieldset{
    border: none;
}
form{
    text-align: left;
}
img{
    height: 23vh;
    max-width: 90%;
}
.hidden{
    display: none;
}
button{
        background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
        background-color:#dfbdfa;
        border-radius:6px;
        border:1px solid #c584f3;
        text-decoration:none;

        display: block;
        position: relative;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }
button:hover {
    background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
    background-color:#bc80ea;
}
.green{
    background-color: rgba(71, 207, 89, 0.9);
}
.red{
    background-color: rgba(245, 79, 79, 0.9);
}

@media only screen and (min-width: 320px) {
    main{
        margin: 15px auto;
        padding: 15px;
        font-size: 16px;
    }
    h2{
        font-size: 1.2em;
    }
    .title{
        margin-bottom: 10px;
    }
    .progress{
        font-size: 18px;
        margin: 0 auto;
    }
    .question-num{
        margin-right: 20px;
    }
    .question{
        font-weight: bold;
    }
    .option{
        margin-top: 15px;
    }
    button{
        font-size:14px;
        padding:4px 24px;
    }
    .start-btn{
        margin: 30px auto 20px;
    }
    .submit-btn{
        margin-top: 15px;
    }

    .answer-result, .answer-text{
        margin-top: 0;
        margin-bottom: 10px;
    }
    .answer-image{
        margin-bottom: 10px;
    }
    .final-score, .final-text{
        font-size: 1.2em;
    }
    .final-text{
        margin-top: 0;
    }
}
@media only screen and (min-width: 600px) {
    main{
        font-size: 18px;
        border-radius: 10px;
        padding: 20px;
        width: 60%;
    }
    button{
        font-size:16px;
    }
    .answer-image{
        height: 35vh;
    }
}
@media only screen and (min-width: 1000px) {
    main{
        padding: 25px;
    }
    .answer-image{
        height: 40vh;
    }
}
